<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Calendar</string>
	<key>CFBundleExecutable</key>
	<string>Calendar Plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSiCalModule</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Calendar &amp; Reminders Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.0</string>
	<key>CFBundleVersion</key>
	<string>140</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Create and view calendar items from within Quicksilver</string>
	<key>NSPrincipalClass</key>
	<string>QSiCalModule</string>
	<key>NSRemindersUsageDescription</key>
	<string>Create new todo reminders</string>
	<key>QSActions</key>
	<dict>
		<key>QSiCalCreateEventAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiCalModule</string>
			<key>actionSelector</key>
			<string>createEvent:inCalendar:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>com.apple.iCal</string>
			<key>indirectOptional</key>
			<true/>
			<key>indirectTypes</key>
			<array>
				<string>QSICalCalendar</string>
			</array>
			<key>name</key>
			<string>Create Calendar Event</string>
		</dict>
		<key>QSiCalCreateEventActionReverse</key>
		<dict>
			<key>actionClass</key>
			<string>QSiCalModule</string>
			<key>actionSelector</key>
			<string>createEvent:inCalendar:</string>
			<key>directTypes</key>
			<array>
				<string>QSICalCalendar</string>
			</array>
			<key>icon</key>
			<string>com.apple.iCal</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>Add Event...</string>
			<key>precedence</key>
			<integer>4</integer>
			<key>reverseArguments</key>
			<true/>
			<key>validatesObjects</key>
			<string></string>
		</dict>
		<key>QSiCalCreateToDoAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiCalModule</string>
			<key>actionSelector</key>
			<string>createToDo:inCalendar:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>com.apple.reminders</string>
			<key>indirectOptional</key>
			<true/>
			<key>indirectTypes</key>
			<array>
				<string>QSICalCalendar</string>
			</array>
			<key>name</key>
			<string>Create Reminder</string>
			<key>validatesObjects</key>
			<string>NO</string>
		</dict>
		<key>QSiCalCreateToDoActionReverse</key>
		<dict>
			<key>actionClass</key>
			<string>QSiCalModule</string>
			<key>actionSelector</key>
			<string>createToDo:inCalendar:</string>
			<key>directTypes</key>
			<array>
				<string>QSICalCalendar</string>
			</array>
			<key>icon</key>
			<string>com.apple.reminders</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>Add Reminder...</string>
			<key>validatesObjects</key>
			<string>YES</string>
			<key>reverseArgumetns</key>
			<true/>
			<key>precedence</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>QSApp</string>
		<key>categories</key>
		<array>
			<string>Calendar</string>
		</array>
		<key>description</key>
		<string>Adds support for creating Calendar Events and Reminders for the Calendars and Reminders apps on your Mac</string>
		<key>extendedDescription</key>
		<string>&lt;h2&gt;Calendar &amp;amp; Reminders Plugin&lt;/h2&gt;
&lt;p&gt;This plugin adds actions for creating Calendar Events (Calendar.app) and Reminders (Reminders.app) from within Quicksilver&lt;/p&gt;
&lt;h3&gt;Permissions&lt;/h3&gt;
&lt;p&gt;This plugin requires access to your Calendar and Reminders. Make sure you have granted Quicksilver permissions by adding it to the &lt;a href=&quot;x-apple.systempreferences:com.apple.preference.security?Privacy_Calendars&quot;&gt;Calendars list&lt;/a&gt; and &lt;a href=&quot;x-apple.systempreferences:com.apple.preference.security?Privacy_Reminders&quot;&gt;Reminders list&lt;/a&gt; in the System Preferences.&lt;/p&gt;
&lt;h3&gt;Actions&lt;/h3&gt;
&lt;p&gt;&lt;strong&gt;Create Calendar Event&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;This action takes text from Quicksilver&apos;s 1st pane, and adds it as an event to your selected Calendar in Quicksilver&apos;s 3rd pane.&lt;br&gt;
Examples of text could be &lt;code&gt;Dinner with Tom next Tuesday&lt;/code&gt; or &lt;code&gt;Visit mum at 3pm&lt;/code&gt;.&lt;/p&gt;
&lt;p&gt;You can improve how an event displays in your Calendar by separating the name of the event and the time it takes place with two dashes &lt;code&gt;--&lt;/code&gt;&lt;br&gt;
Using &lt;code&gt;Next Tuesday -- Dinner with Tom&lt;/code&gt; will create an event called just &lt;code&gt;Dinner with Tom&lt;/code&gt; in your calendar.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Create Reminder&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;This action takes text from Quicksilver&apos;s 1st pane, and adds it as a Reminder to your selected Reminders List in Quicksilver&apos;s 3rd pane.&lt;/p&gt;
&lt;p&gt;Examples of text could be &lt;code&gt;Do the shopping&lt;/code&gt; or &lt;code&gt;Pick up the kids from school&lt;/code&gt;.&lt;/p&gt;
&lt;p&gt;You can set the priority of an event by prefixing your event with any number of exclamation marks &lt;code&gt;!&lt;/code&gt;&lt;br&gt;
&lt;em&gt;One&lt;/em&gt; exclamantion mark gives the Reminder a &lt;em&gt;low&lt;/em&gt; priority, &lt;em&gt;two&lt;/em&gt; give the Reminder a &lt;em&gt;medium&lt;/em&gt; priority and &lt;em&gt;three&lt;/em&gt; gives it a &lt;em&gt;high&lt;/em&gt; priority.&lt;/p&gt;
&lt;p&gt;&lt;code&gt;!! This is a medium priority reminder&lt;/code&gt;&lt;br&gt;
&lt;code&gt;This reminder has no priority set&lt;/code&gt;&lt;/p&gt;</string>
		<key>icon</key>
		<string>com.apple.iCal</string>
		<key>qsversion</key>
		<string>31DE</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>CalendarPrefPane</key>
			<dict>
				<key>class</key>
				<string>CalendarPrefPane</string>
				<key>description</key>
				<string>Calendar &amp; Reminders Settings</string>
				<key>icon</key>
				<string>calendarIcon</string>
				<key>name</key>
				<string>Calendar</string>
				<key>nibBundle</key>
				<string>com.blacktree.Quicksilver.QSiCalModule</string>
				<key>nibName</key>
				<string>CalendarPrefPane</string>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>QSICalCalendar</key>
			<dict>
				<key>icon</key>
				<string>calendarIcon</string>
				<key>name</key>
				<string>Calendars</string>
			</dict>
		</dict>
		<key>QSBundleDrawingHandlers</key>
		<dict>
			<key>com.apple.iCal</key>
			<string>QSiCalModule</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.reminders</key>
			<string>QSiCalModule</string>
			<key>com.apple.iCal</key>
			<string>QSiCalModule</string>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>version</key>
		<string>4001</string>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>calendarIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSiCalModule</string>
			<key>resource</key>
			<string>bookmark.icns</string>
		</dict>
	</dict>
</dict>
</plist>
